* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
  font-size: 13px;
  background: url('../images/bg.jpg') center top repeat-x;
}

p {
  margin-bottom: 10px;
}

h4 {
  font-size: 13px;
  margin-bottom: 10px;
}
