* {
  margin: 0;
  padding: 0;
}

body {
  color: #333333;
  font-family: $default-font-family;
  font-size: $default-font-size;
  background: image-url('bg.jpg') repeat-x center top;
}

p {
  margin-bottom: $defaul-margin;
}

h4 {
  font-size: $default-font-size;
  margin-bottom: 10px;
}

input {
  font-family: $default-font-family;
  font-size: 12px;
  color: #3E6588;
  padding-right: 3px;
  padding-left: 3px;
}
